<!DOCTYPE html>
<html>
  <head>
    <title>Simple silex app</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div id="container">
      <div id="form">
        <form method="get">
          <input name="q" id="keywords" value="{{ keyword }}"/>
          <input type="submit" value="Znajdź"/>
        </form>
      </div>
      <div id="content">
        {% if results is not empty %}
          <div id="results">
            {% for result in results %}
              <div class="result">
                <div class="title">{{ result.title|raw }}</div>
                <div class="content">{{ result.content|raw }}</div>
              </div>
            {% endfor %}
          </div>
        {% else %}
            Brak wyników.
        {% endif %}
      </div>
    </div>
  </body>
</html>
