<!DOCTYPE html>
<html>
  <head>
    <title>Simple silex app</title>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div id="container">
      <div id="form">
        <form action="/">
          <input id="query" value="{{ keyword }}"/>
          <input type="submit" value="Znajdź"/>
          <input type="reset" id="reset" value="Wyczyść"/>
        </form>
      </div>
      <div id="content">
        {% if results is not empty %}
          <div id="results">
            {% for result in results %}
              <div class="result">
                <div class="title">{{ result.title|raw }}</div>
                <div class="content">{{ result.content|raw }}</div>
              </div>
            {% endfor %}
          </div>
        {% else %}
            Brak wyników.
        {% endif %}
      </div>
    </div>
  </body>
</html>